{% load project_tags %}
{% load project_tags %}

{% for projectobjective in projectobjectives %}

  <tbody id="{{ projectobjective.name|slugify }}">

    <tr class="objective">
      <td colspan="{{ workcycle_count|add:'2' }}" class="objective name">
        {{ projectobjective.objective }}
      </td>
    </tr>

    <tr class="">
      <td colspan="2" class="objective description">
        {{ projectobjective.objective.description|default_if_none:""|safe }}
      </td>
      <td colspan="{{ workcycle_count }}" class="commitment-description">Commitments</td>
    </tr>

    <tr class="">
      {% include "projects/partial_project_detail_objectivestatus.html" %}
      <td></td>
      {% for work_cycle in work_cycles %}
        <td class="workcycle {% if work_cycle.is_current %}current{% endif %}">{{ work_cycle }}</td>
      {% endfor %}
    </tr>

    {% regroup projectobjective.projectobjectiveconditions by level as levels %}
    {% regroup projectobjective.commitments by level as commitments %}
    {% pack levels commitments as level_collections %}

    {% for condition, commitment in level_collections %}

      <tr id="" class="level">
        <td colspan="2" class="">{{ condition.grouper }}</td>

        {% for commitment in commitment.list %}
          {% include "projects/partial_project_detail_commitment.html" %}
        {% endfor %}

      </tr>

      {% for condition in condition.list %}
        {% include "projects/partial_project_detail_condition.html" with swap_oob=False %}
      {% endfor %}

    {% endfor %}
  </tbody>

{% endfor %}
